body{
    font-family: "Helvetica Neue",Helvetica
    background-color: #e2edf8;
    margin: 0;
    padding: 20px;
    background-color:gray;
 }
 
 h1{
    font-size: 32px;
    text-align: center;
 
 }
 .pe{
     font-size: 24px;
     color: red;
     text-align: center;
     font-weight: bold;
 
 }
 form{
     max-width: 600px;
     margin:0 auto;
     padding: 20px;
   
     border-radius: 10px;
    
     background-color: white; 
     box-shadow: 7px 8px 10px rgba(0, 0, 1, 2.5);
 }
 fieldset{
     margin-bottom: 20px;
     margin-top: 20px;
     padding: 20px;
      
     /* border: none; */
     background-color:white ;
     box-shadow: 4px 8px 10px rgba(0, 0, 0, 1.5);
     border-radius: 10px;
    
 }
 legend{
     font-size: 24px;
     font-weight: bold;
     text-align: left;
     color: red;
 
 }
 label{
     display: block;
     margin-bottom: 10px;
     color: red;
     font-weight: bold;
     
 
 }
 input, select, textarea{
     padding: 8px;
 
     border-radius: 10px;
     border-color: blue;
     width: 100%;
     margin-top: 5px;
     margin-bottom: 30px;
     box-sizing: border-box;
 }
 
  select, textarea:hover{
     border: 1px solid #655c5c;
     background-color: #ebcece;
 }
 input:hover{
     border: 1px solid #655c5c;
     background-color: #ebcece;
 }
 button{
     padding: 10px 20px;
     border: none;
     border-radius: 10px;
     background-color:red;
     color:white;
     cursor: pointer;
     font-size: 18px;
     font-weight: bold;
     transition: background-color 0.3s ease;
     margin-top: 30px;
     margin-left: 30px;
     color: #413b3b;
     
     box-shadow: 4px 8px 10px rgba(0, 0, 0, 1.4);
 
 }
 button:hover{
     background-color:black;
     color: #e3caca;
 }
 #img{
     height: 100px;
     border-radius: 50%;
     border: 2px solid rgb(204, 105, 18);
     box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.8);
  }
 
 
 
 

.resume-output {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);



}
 
 

.resume-output {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);



}

.resume-output h2 {                                                                                                                                                                                                                                                                                                                           
    text-align: center;
    color: #333;
}

.resume-output p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}
.resume-output img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    border: 2px solid #555;
}
